
.systeme_onglets{
	width: 80%;
	margin: auto;
	border: solid black 3px;
}
.onglets{
	width: 90%;
	margin: auto;
	text-align: center;
}
.onglet
        {
                display:inline-block;
               
                padding:3px;
                border:1px solid black;
                cursor:pointer;
                width: 30%;
                
                
                
        }
        .onglet_0
        {
        	    
        	    border-top: none;
        	    border-left: none;
        	    border-right: none;
                background:#fff;
                border-bottom:1px solid black;
                text-align: center;
        }
        .onglet_1
        {
        	    font-size: 1.5vmax;
        	    border-top: none;
        	    border-left: none;
        	    border-right: none;
                text-align: center;
                background:#fff;
                border-bottom:2px solid black;
                padding-bottom:4px;
        }
        .contenu_onglet
        {
                background-color:#fff;
                
                display: none;
                width: 81.5%;
                margin: auto;

        }
        